{% extends 'base.html.twig' %}

   {% block content %}

       {{ dump() }}

       <div class="well">

           <h3>Editer / Ajouter INCLUSION</h3>

           {{ form_start(form, {'attr': {'class': ''}}) }}


           {{ form_rest(form) }}

           {# Fermeture de la balise <form> du formulaire HTML #}
           {{ form_end(form) }}
       </div>
       <div class="well">

           <h3>Liste des visites</h3>


           <ul>

               {% for visite in form.vars.value.visites %}

                   <li>
                       {{ visite.date|date('d/m/Y') }}
                       {{ visite.type }}
                       Etape {{ visite.calendar }}
                       Statut: <a href="{{ path("editVisite", {id: visite.id }) }}">{{ visite.statut }}</a>
                   </li>

               {% endfor %}

           </ul>

       </div>

   {% endblock %}


{% block javascripts %}


{% endblock %}  
