{% extends 'base.html.twig' %}
	
	{# Réécriture SEO #}
	{% block header %}

        {% embed "include/header.html.twig" %}

            {# Titre SEO #}
            {% block seo_title %}Recherche - ArcOffice{% endblock seo_title %}

            {# Description SEO #}
            {% block seo_description %}{% endblock seo_description %}

        {% endembed %}

    {% endblock header %}

	{# Body Class #}
	{% block body_class %}arcoffice-recherche arcoffice-coherence-data{% endblock %}

	{# Section 'Fil d'ariane' #}
	{% block fil_ariane %}

        {% embed "include/fil-ariane.html.twig" with { page_name : 'Recherche' } %}{% endembed %}

    {% endblock fil_ariane %}
	
	{# Contenu #}
	{% block content %}

        {# Section Principale #}
        <section class="section-main" id="rechercheAdvanced">

            <div class="container">

                <div class="row">

                    {# 1-COLONNE RECHERCHE..................................................... #}
                    <div class="col col-recherche">

                        <div class="row">

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs w-100" role="tablist">

                                <li class="nav-item">

                                    <a class="nav-link active d-flex" data-toggle="tab"
                                       href="#block-recherche-protocole" role="tab" aria-selected="true"><i
                                                class="fa fa-folder-open  mr-2"></i>Protocole</a>

                                </li>

                                <li class="nav-item">
                                    <a class="nav-link d-flex" data-toggle="tab" href="#block-recherche-patient"
                                       role="tab" aria-selected="true"><i class="fa fa-male mr-2"></i>Patient </a>

                                </li>

                                <li class="nav-item">

                                    <a class="nav-link d-flex" data-toggle="tab" href="#block-recherche-medecin"
                                       role="tab" aria-selected="true"><i class="fa fa-stethoscope mr-2"></i>Médecin</a>

                                </li>

                                <li class="nav-item">

                                    <a class="nav-link d-flex" data-toggle="tab" href="#block-recherche-annuaire"
                                       role="tab" aria-selected="true"><i class="fa fa-address-card-o mr-2"></i>Contact</a>

                                </li>

                                <li class="nav-item">

                                    <a class="nav-link d-flex" data-toggle="tab" href="#block-recherche-service"
                                       role="tab" aria-selected="true"><i class="fa fa-sitemap mr-2"></i>Service</a>

                                </li>

                                <li class="nav-item">

                                    <a class="nav-link d-flex" data-toggle="tab" href="#block-recherche-date"
                                       role="tab" aria-selected="true"><i class="fa fa-clock-o mr-2"></i>Date
                                    </a>

                                </li>

                            </ul>

                        </div>

                        <!-- Tab panes -->
                        <div class="tab-content w-100">

                            {# Recherche par protocole ----------------------------------------------------------#}
                            <div class="tab-pane active" id="block-recherche-protocole" role="tabpanel"
                                 aria-labelledby="block-recherche-protocole">

                                <h2 class="form-title d-flex align-items-center">

                                    Rechercher un protocole

                                </h2>

                                {# A-Formulaire de recherche #}
                                <form class="form-inline mb-2">

                                    <div class="form-group">

                                        <label class="mr-2" for="recherche-protocole-nom-mot-clef">Par Nom / Mots
                                            clefs</label>

                                        <input class="form-control form-control-sm recherche-protocole-nom-mot-clef"
                                               id="recherche-nom-mot-clef" v-model='essai.query' type="text" value=""
                                               placeholder="">

                                    </div>

                                    <div class="form-group ml-3">

                                        <label class="mr-2" for="recherche-protocole-statut">Par Statut</label>

                                        <select class="recherche-protocole-statut form-control form-control-sm"
                                                id="recherche-statut" @change="searchEssais"
                                                v-model='essai.filters.statut' name="statut">

                                            <option value=''>Tous</option>

                                            {% for value in constant('AppBundle\\Entity\\Essais::STATUT') %}

                                                <option>{{ value }}</option>

                                            {% endfor %}

                                        </select>

                                    </div>

                                    <button class="btn btn-violet btn-sm ml-2" @click.prevent="searchEssais">

                                        <i class="fa fa-search"></i>

                                    </button>

                                </form>

                                {# Résultats #}
                                <table v-if='essai.results.length > 0'
                                       class="recherche-protocole-resultat table table-sm" id="listeEssais" v-cloak>

                                    {# Compteur #}
                                    <div v-if='essai.results.length > 0' v-cloak>

                                        <div class="arcoffice-count m-0" v-if='essai.results.length < 25'>[[
                                            essai.results.length ]] protocole(s) trouvé(s)
                                        </div>

                                        <div class="arcoffice-count" v-else>Plus de [[ essai.results.length ]]
                                            protocole(s) trouvé(s), veuillez affiner votre recherche.
                                        </div>

                                    </div>

                                    {# Header #}
                                    <thead>

                                    <tr>

                                        <th @click="orderBy('nom', 'essai')">

                                            Nom
                                            <i v-bind:class='[essai.order.nom == "asc" ? "fa-caret-down" : "fa-caret-up" ]'
                                               class="fa"></i>

                                        </th>

                                        <th @click="orderBy('statut', 'essai')">

                                            Statut <i
                                                    v-bind:class='[essai.order.statut == "asc" ? "fa-caret-down" : "fa-caret-up" ]'
                                                    class="fa"></i>

                                        </th>

                                        <th @click="orderBy('inclusions', 'essai')">

                                            Nb. d'inclusions/ Objectif <i
                                                    v-bind:class='[essai.order.inclusions == "asc" ? "fa-caret-down" : "fa-caret-up" ]'
                                                    class="fa"></i>

                                        </th>

                                        <th @click="orderBy('inclusions', 'essai')">

                                            Médecin référent <i
                                                    v-bind:class='[essai.order.inclusions == "asc" ? "fa-caret-down" : "fa-caret-up" ]'
                                                    class="fa"></i>

                                        </th>

                                    </tr>

                                    </thead>

                                    <tbody v-for="essai in essaisFiltered">

                                    <tr>

                                        <td>

                                            <a :href="linkEssai(essai)">[[ essai.nom ]]</a>

                                        </td>

                                        <td>[[ essai.statut ]]</td>

                                        <td>

                                            <span v-if='essai.inclusions != null'>[[ essai.inclusions.length ]] / [[ essai.objectif ]]</span>

                                        </td>

                                        <td>

                                            <span v-if='essai.medecin != null'>[[ essai.medecin.nom ]] [[ essai.medecin.prenom ]]</span>

                                        </td>

                                    </tr>

                                    <tr class='tags'>

                                        <td></td>

                                        <td colspan="3">

                                            <ul class="recherche-tags list-inline mb-0">

                                                <li class="list-inline-item" v-for="tag in essai.tags">[[ tag.nom ]]
                                                </li>

                                            </ul>

                                        </td>

                                    </tr>

                                    </tbody>

                                </table>

                                <div v-if="essai.noResult" v-cloak>

                                    <p>Aucun résultat ne correspond à votre recherche.</p>

                                </div>

                            </div>

                            {# Recherche par patient ----------------------------------------------------------#}

                            <div class="tab-pane" id="block-recherche-patient" role="tabpane2"
                                 aria-labelledby="block-recherche-patient">

                                <h2 class="form-title d-flex align-items-center">

                                    Rechercher un patient

                                </h2>

                                {# Formulaire de recherche #}
                                <form class="form-inline mb-2">

                                    <div class="form-group">

                                        <label class="mr-2" for="recherche-patient-nom">Par Nom / Prénom</label>

                                        <input class="recherche-patient-nom form-control form-control-sm"
                                               id="recherche-patient-nom" v-model='patient.query' type="text" value="">

                                    </div>

                                    <div class="form-group ml-3">

                                        <label class="mr-2" for="recherche-patient-statut">Par Statut</label>

                                        <select class="recherche-patient-statut form-control form-control-sm"
                                                @change='searchPatients' v-model='patient.filters.statut' name="statut"
                                                id="recherche-patient-statut">

                                            <option value=''>Tous</option>

                                            {% for value in constant('AppBundle\\Entity\\Inclusion::STATUT') %}

                                                <option>{{ value }}</option>

                                            {% endfor %}

                                        </select>

                                    </div>

                                    <button class="btn btn-violet btn-sm ml-2" @click.prevent="searchPatients">

                                        <i class="fa fa-search"></i>

                                    </button>

                                </form>

                                {# Résultats #}
                                <table v-if='patient.results.length > 0'
                                       class="recherche-patient-resultat table table-sm" id="" v-cloak>

                                    {# Compteur #}
                                    <div v-if='patient.results.length > 0' v-cloak>

                                        <div class="arcoffice-count m-0" v-if='patient.results.length < 25'>[[
                                            patient.results.length ]] patient(s) trouvé(s)
                                        </div>

                                        <div class="arcoffice-count" v-else>Plus de [[ patient.results.length ]]
                                            patient(s) trouvé(s), veuillez affiner votre recherche.
                                        </div>

                                    </div>

                                    {# Header #}
                                    <thead>

                                    <tr>

                                        <th @click="orderBy('nom', 'patient')">

                                            Nom
                                            <i v-bind:class='[patient.order.nom == "asc" ? "fa-caret-down" : "fa-caret-up" ]'
                                               class="fa"></i>

                                        </th>

                                        <th @click="orderBy('nomNaissance', 'patient')">

                                            Nom Naissance <i
                                                    v-bind:class='[patient.order.nomNaissance == "asc" ? "fa-caret-down" : "fa-caret-up" ]'
                                                    class="fa"></i>

                                        </th>

                                        <th @click="orderBy('datNai', 'patient')">

                                            Date Naissance <i
                                                    v-bind:class='[patient.order.datNai == "asc" ? "fa-caret-down" : "fa-caret-up" ]'
                                                    class="fa"></i>

                                        </th>

                                        <th>

                                            Protocole(s)

                                        </th>

                                    </tr>

                                    </thead>

                                    <tbody v-for="patient in patientsFiltered">

                                    <tr>

                                        <td>

                                            <a :href="linkPatient(patient)">[[ patient.nom ]] [[ patient.prenom ]]</a>

                                        </td>

                                        <td>

                                            <a :href="linkPatient(patient)">[[ patient.nomNaissance ]]</a>

                                        </td>

                                        <td v-if='patient.datNai != null'>

                                            [[ patient.datNai.date | date ]]

                                        </td>

                                        <td>

												<span v-for="inclusion in patient.inclusions">

														<span v-if='inclusion.essai != null'><a
                                                                    :href="linkEssai(inclusion.essai)">[[ inclusion.essai.nom ]]</a>&nbsp;&nbsp;&nbsp;&nbsp;</span>

												</span>

                                        </td>

                                    </tr>

                                    </tbody>

                                </table>

                                <div v-if="patient.noResult" v-cloak>

                                    <p>Aucun résultat ne correspond à votre recherche.</p>

                                </div>

                            </div>

                            {# Recherche par Medecin ----------------------------------------------------------#}

                            <div class="tab-pane" id="block-recherche-medecin" role="tabpane3"
                                 aria-labelledby="block-recherche-medecin">

                                <h2 class="form-title d-flex align-items-center">
                                    Recherche par médecin
                                </h2>

                                {# Formulaire de recherche #}
                                <form class="form-inline mb-2">

                                    <div class="form-group">

                                        <label class="mr-2" for="recherche-medecin-nom">Par nom du médecin </label>

                                        <input class="recherche-medecin-nom form-control form-control-sm"
                                               id="recherche-medecin-nom" v-model='medecin.query' type="text" value="">

                                    </div>

                                    <button class="btn btn-violet btn-sm ml-2" @click.prevent="searchMedecin">

                                        <i class="fa fa-search"></i>

                                    </button>

                                </form>

                                {# Résultats #}
                                <table v-if='medecin.results.length > 0'
                                       class="recherche-medecin-resultat table table-sm" id="" v-cloak>

                                    {# Compteur #}
                                    <div v-if='medecin.results.length > 0' v-cloak>

                                        <div class="arcoffice-count m-0" v-if='medecin.results.length < 25'>[[
                                            medecin.results.length ]] medecin(s) trouvé(s)
                                        </div>

                                        <div class="arcoffice-count" v-else>Plus de [[ medecin.results.length ]]
                                            medecin(s) trouvé(s), veuillez affiner votre recherche.
                                        </div>

                                    </div>

                                    {# Header #}
                                    <thead>

                                    <tr>

                                        <th @click="orderBy('nom', 'medecin')">

                                            Nom
                                            <i v-bind:class='[medecin.order.nom == "asc" ? "fa-caret-down" : "fa-caret-up" ]'
                                               class="fa"></i>

                                        </th>

                                        <th {# @click="orderBy('inclusions', 'medecin')" #}>

                                            {# Patient - Protocole - Inclusion (date, statut) <i v-bind:class='[medecin.order.inclusions == "asc" ? "fa-caret-down" : "fa-caret-up" ]' class="fa"></i> #}

                                        </th>

                                    </tr>

                                    </thead>

                                    <tbody v-for="medecin in medecinsFiltered">

                                    <tr>

                                        <td>

                                            <a :href="linkMedecin(medecin)">[[ medecin.nom ]] [[ medecin.prenom ]]</a>

                                        </td>

                                        <td>

                                            <table v-if='medecin.inclusions'
                                                   class="w-100 recherche-medecin-resultat-sub">

                                                <thead>

                                                <tr>

                                                    <th>Patient</th>

                                                    <th>Protocole</th>

                                                    <th {# @click="orderBy('inclusions', 'medecin')" #}>

                                                        Inclusion (date,
                                                        statut) {# <i v-bind:class='[medecin.order.inclusions == "asc" ? "fa-caret-down" : "fa-caret-up" ]' class="fa"> #}</i>

                                                    </th>

                                                </tr>

                                                </thead>

                                                <tr v-if='inclusion.patient && inclusion.essai'
                                                    v-for='inclusion in medecin.inclusions'>

                                                    <td>

                                                        <a :href="linkInclusion(inclusion)">
                                                            [[ inclusion.patient.nom ]] [[ inclusion.patient.prenom ]]
                                                        </a>

                                                    </td>

                                                    <td>

                                                        <a :href="linkEssai(inclusion.essai)">
                                                            [[ inclusion.essai.nom ]]
                                                        </a>

                                                    </td>

                                                    <td>

                                                        <span v-if='inclusion.datInc && inclusion.statut == "{{ constant("AppBundle\\Entity\\Inclusion::OUI_EN_COURS") }}" '>[[ inclusion.datInc.date | date ]]</span>

                                                        <span v-if='inclusion.datScr && inclusion.statut == "{{ constant("AppBundle\\Entity\\Inclusion::SCREEN") }}"'>[[ inclusion.datScr.date | date ]]</span>

                                                        <span>[[ inclusion.statut ]]</span>

                                                    </td>

                                                </tr>

                                            </table>

                                            {# <ul>
                                                <li v-if='inclusion.patient && inclusion.essai' v-for='inclusion in medecin.inclusions'>
                                                    <a :href="linkInclusion(inclusion)">
                                                        [[ inclusion.patient.nom ]] [[ inclusion.patient.prenom ]]
                                                    </a>
                                                    -
                                                    <a :href="linkEssai(inclusion.essai)">
                                                        [[ inclusion.essai.nom ]]
                                                    </a>
                                                    -
                                                    <span v-if='inclusion.datInc'>[[ inclusion.datInc.date | date ]], </span>
                                                    [[ inclusion.statut ]]
                                                </li>

                                            </ul>
                                                 #}
                                        </td>

                                    </tr>

                                    </tbody>

                                </table>

                                <div v-if="medecin.noResult" v-cloak>

                                    <p>Aucun résultat ne correspond à votre recherche.</p>

                                </div>

                            </div>

                            {# Recherche dans l'annuaire ---------------------------------------------------------------------------------#}

                            <div class="tab-pane" id="block-recherche-annuaire" role="tabpane4"
                                 aria-labelledby="block-recherche-annuaire">

                                <h2 class="form-title d-flex align-items-center">

                                    Rechercher dans l'annuaire
                                </h2>

                                {# Formulaire de recherche #}
                                <form class="form-inline mb-2">

                                    <div class="form-group">

                                        <label class="mr-2" for="recherche-annuaire-nom">Par Nom / Prénom /
                                            Société </label>

                                        <input class="recherche-annuaire-nom form-control form-control-sm"
                                               id="recherche-annuaire-nom" v-model='annuaire.query' type="text"
                                               value="">

                                    </div>

                                    <button class="btn btn-violet btn-sm ml-2" @click.prevent="searchAnnuaire">

                                        <i class="fa fa-search"></i>

                                    </button>

                                </form>

                                {# Résultats #}
                                <table v-if='annuaire.results.length > 0'
                                       class="recherche-annuaire-resultat table table-sm" id="" v-cloak>

                                    {# Compteur #}
                                    <div v-if='annuaire.results.length > 0' v-cloak>

                                        <div class="arcoffice-count m-0" v-if='annuaire.results.length < 25'>[[
                                            annuaire.results.length ]] contact(s) trouvé(s)
                                        </div>

                                        <div class="arcoffice-count" v-else>Plus de [[ annuaire.results.length ]]
                                            contact(s) trouvé(s), veuillez affiner votre recherche.
                                        </div>

                                    </div>

                                    {# Header #}
                                    <thead>

                                    <tr>

                                        <th @click="orderBy('nom', 'annuaire')">

                                            Nom
                                            <i v-bind:class='[annuaire.order.nom == "asc" ? "fa-caret-down" : "fa-caret-up" ]'
                                               class="fa"></i>

                                        </th>

                                        <th @click="orderBy('societe', 'annuaire')">

                                            Société <i
                                                    v-bind:class='[annuaire.order.societe == "asc" ? "fa-caret-down" : "fa-caret-up" ]'
                                                    class="fa"></i>

                                        </th>

                                        <th @click="orderBy('fonction', 'annuaire')">

                                            Fonction <i
                                                    v-bind:class='[annuaire.order.fonction == "asc" ? "fa-caret-down" : "fa-caret-up" ]'
                                                    class="fa"></i>

                                        </th>

                                        <th @click="orderBy('telephone', 'annuaire')">

                                            Téléphone <i
                                                    v-bind:class='[annuaire.order.telephone == "asc" ? "fa-caret-down" : "fa-caret-up" ]'
                                                    class="fa"></i>

                                        </th>

                                        <th @click="orderBy('mail', 'annuaire')">

                                            Mail
                                            <i v-bind:class='[annuaire.order.mail == "asc" ? "fa-caret-down" : "fa-caret-up" ]'
                                               class="fa"></i>

                                        </th>

                                    </tr>

                                    </thead>

                                    <tbody v-for="annuaire in annuairesFiltered">

                                    <tr>

                                        <td>

                                            <a :href="linkAnnuaire(annuaire)">[[ annuaire.nom ]] [[ annuaire.prenom
                                                ]]</a>

                                        </td>

                                        <td>

                                            [[ annuaire.societe ]]

                                        </td>

                                        <td>

                                            [[ annuaire.fonction ]]

                                        </td>

                                        <td>

                                            <a :href="'tel:'+annuaire.telephone">[[ annuaire.telephone ]]</a>

                                        </td>

                                        <td>

                                            <a :href="'mailto:'+annuaire.mail">[[ annuaire.mail ]]</a>

                                        </td>

                                    </tr>

                                    </tbody>

                                </table>

                                <div v-if="annuaire.noResult" v-cloak>

                                    <p>Aucun résultat ne correspond à votre recherche.</p>

                                </div>

                            </div>

                            {# Recherche par service #}

                            <div class="tab-pane" id="block-recherche-service" role="tabpane5"
                                 aria-labelledby="block-recherche-service">

                                <h2 class="form-title d-flex align-items-center">

                                    Rechercher par service
                                </h2>

                                {# Formulaire de recherche #}
                                <form class="form-inline mb-2">

                                    <div class="form-group">

                                        <label class="mr-2" for="recherche-service">Par Service</label>

                                        <select class="recherche-protocole-service form-control form-control-sm"
                                                id="recherche-service" @change="searchByService" v-model='service'
                                                name="service">

                                            <option value='' selected="selected">Tous</option>

                                            {% for service in services %}

                                                <option value='{{ service.id }}'>{{ service.nom }}</option>

                                            {% endfor %}

                                        </select>

                                    </div>

                                    <button class="btn btn-violet btn-sm ml-2" @click.prevent="searchByService">

                                        <i class="fa fa-search"></i>

                                    </button>

                                </form>

                                {# Résultats #}
                                <table v-if='essai.results.length > 0'
                                       class="recherche-protocole-resultat table table-sm" id="listeEssais" v-cloak>

                                    {# Compteur #}
                                    <div v-if='essai.results.length > 0' v-cloak>

                                        <div class="arcoffice-count m-0" v-if='essai.results.length < 25'>[[
                                            essai.results.length ]] protocole(s) trouvé(s)
                                        </div>

                                        <div class="arcoffice-count" v-else>Plus de [[ essai.results.length ]]
                                            protocole(s) trouvé(s), veuillez affiner votre recherche.
                                        </div>

                                    </div>

                                    {# Header #}
                                    <thead>

                                    <tr>

                                        <th @click="orderBy('nom', 'essai')">

                                            Nom
                                            <i v-bind:class='[essai.order.nom == "asc" ? "fa-caret-down" : "fa-caret-up" ]'
                                               class="fa"></i>

                                        </th>

                                        <th @click="orderBy('statut', 'essai')">

                                            Statut <i
                                                    v-bind:class='[essai.order.statut == "asc" ? "fa-caret-down" : "fa-caret-up" ]'
                                                    class="fa"></i>

                                        </th>

                                        <th @click="orderBy('inclusions', 'essai')">

                                            Nb. d'inclusions/ Objectif <i
                                                    v-bind:class='[essai.order.inclusions == "asc" ? "fa-caret-down" : "fa-caret-up" ]'
                                                    class="fa"></i>

                                        </th>

                                        <th @click="orderBy('inclusions', 'essai')">

                                            Médecin référent <i
                                                    v-bind:class='[essai.order.inclusions == "asc" ? "fa-caret-down" : "fa-caret-up" ]'
                                                    class="fa"></i>

                                        </th>

                                    </tr>

                                    </thead>

                                    <tbody v-for="essai in essaisFiltered">

                                    <tr>

                                        <td>

                                            <a :href="linkEssai(essai)">[[ essai.nom ]]</a>

                                        </td>

                                        <td>[[ essai.statut ]]</td>

                                        <td>

                                            <span v-if='essai.inclusions != null'>[[ essai.inclusions.length ]] / [[ essai.objectif ]]</span>

                                        </td>

                                        <td>

                                            <span v-if='essai.medecin != null'>[[ essai.medecin.nom ]] [[ essai.medecin.prenom ]]</span>

                                        </td>

                                    </tr>

                                    <tr class='tags'>

                                        <td></td>

                                        <td colspan="3">

                                            <ul class="recherche-tags list-inline mb-0">

                                                <li class="list-inline-item" v-for="tag in essai.tags">[[ tag.nom ]]
                                                </li>

                                            </ul>

                                        </td>

                                    </tr>

                                    </tbody>

                                </table>

                                <div v-if="essai.noResult" v-cloak>

                                    <p>Aucun résultat ne correspond à votre recherche.</p>

                                </div>

                            </div>

                            {# Recherche par Date ----------------------------------------------------------#}

                            <div class="tab-pane" id="block-recherche-date" role="tabpane6"
                                 aria-labelledby="block-recherche-date">

                                <h2 class="form-title d-flex align-items-center">

                                    Recherche par date

                                </h2>

                                {# Formulaire de recherche #}
                                <form class="form-inline mb-2">

                                    <div class="form-group">

                                        <label class="mr-2" for="recherche-medecin-nom">Par date de visite </label>

                                        <button @click.prevent="dayBefore" class="btn btn-sm btn-outline-primary"><i
                                                    class="fa fa-chevron-left"></i></button>
                                        <input class="recherche-medecin-nom form-control form-control-sm js-datepicker"
                                               id="recherche-medecin-date" v-model='visite.query' type="text" value="">
                                        <button @click.prevent="dayAfter" class="btn btn-sm btn-outline-primary"><i
                                                    class="fa fa-chevron-right"></i></button>

                                    </div>

                                    <button class="btn btn-violet btn-sm ml-2" @click.prevent="searchByVisite">

                                        <i class="fa fa-search"></i>

                                    </button>

                                </form>

                                {# Résultats #}
                                <table v-if='visite.results.length > 0'
                                       class="recherche-visite-resultat table table-sm" id="listeVisites" v-cloak>

                                    {# Compteur #}
                                    <div v-if='visite.results.length > 0' v-cloak>

                                        <div class="arcoffice-count m-0" v-if='visite.results.length < 25'>[[
                                            visite.results.length ]] visite(s) trouvée(s)
                                        </div>

                                        <div class="arcoffice-count" v-else>Plus de [[ visite.results.length ]]
                                            visite(s) trouvée(s), veuillez affiner votre recherche.
                                        </div>

                                    </div>

                                    {# Header #}
                                    <thead>

                                    <tr>

                                        <th @click="orderBy('date', 'visite')">

                                            Date
                                            <i v-bind:class='[visite.order.date == "asc" ? "fa-caret-down" : "fa-caret-up" ]'
                                               class="fa"></i>

                                        </th>

                                        <th @click="orderBy('date_fin', 'visite')">

                                            Date Fin
                                            <i v-bind:class='[visite.order.date_fin == "asc" ? "fa-caret-down" : "fa-caret-up" ]'
                                               class="fa"></i>

                                        </th>

                                        <th @click="orderBy('patient', 'visite')">

                                            Patient <i
                                                    v-bind:class='[visite.order.patient == "asc" ? "fa-caret-down" : "fa-caret-up" ]'
                                                    class="fa"></i>

                                        </th>

                                        <th @click="orderBy('statut', 'visite')">

                                            Statut <i
                                                    v-bind:class='[visite.order.statut == "asc" ? "fa-caret-down" : "fa-caret-up" ]'
                                                    class="fa"></i>

                                        </th>

                                    </tr>

                                    </thead>

                                    <tbody v-for="visite in visitesFiltered">

                                    <tr>

                                        <td>

                                            <a v-if='visite.date.date != null' :href="linkVisite(visite)">
                                                [[ visite.date.date | datetime ]]
                                            </a>

                                        </td>

                                        <td>

                                            <span v-if='visite.date_fin != null'>
                                                [[ visite.date_fin.date | datetime ]]
                                            </span>

                                        </td>

                                        <td>
                                            <span v-if="visite.inclusion != null && visite.inclusion.patient != null">
                                                [[ visite.inclusion.patient.nom ]] [[ visite.inclusion.patient.prenom ]]
                                            </span>
                                        </td>

                                        <td>[[ visite.statut ]]</td>
                                        <td>[[ visite.calendar ]]</td>

                                    </tr>

                                    </tbody>

                                </table>

                                <div v-if="visite.noResult" v-cloak>

                                    <p>Aucun résultat ne correspond à votre recherche.</p>

                                </div>

                            </div>

                        </div>

                    </div>

                    {# 2-ACTUALITES..................................................... #}
                    <div class="col-3 col-xl-4 col-actualites">

                        <h2 class="form-title d-flex align-items-center mb-0">

                            <i class="fa fa-newspaper-o mr-2"></i> Actualités

                        </h2>

                        <div class="recherche-actualites">

                            {% for actualite in actualites %}

                                <article>

                                    <div class="titre">{{ actualite.titre }}</div>

                                    <div class="date">{{ actualite.date is empty ? "" : actualite.date|date('d/m/Y') }}</div>

                                    <div class="description">

                                        <p>{{ actualite.text|raw|nl2br }}</p>

                                    </div>

                                </article>

                            {% endfor %}

                        </div>

                    </div>

                    {# 3-LIENS FAVORIS..................................................... #}
                    <div class="col-1 col-xl-1 col-links">

                        <h2 class="form-title d-flex align-items-center mb-0">

                            <i class="fa fa-external-link mr-2"></i> Liens

                        </h2>

                        {% if app.user %}

                            <a href="{{ path('patient') }}" class="d-flex justify-content-center title-tooltip"
                               title="Patient">
                                <i class="fa fa-male fa-2x" aria-hidden="true"></i>
                            </a>

                            <a href="{{ path('protocole') }}" class="d-flex justify-content-center title-tooltip"
                               title="Essais">
                                <i class="fa fa-folder-open fa-2x"></i>
                            </a>

                            <a href="{{ path('listeMedecins') }}" class="d-flex justify-content-center title-tooltip"
                               title="Médecins">
                                <i class="fa fa-user-md fa-2x" aria-hidden="true"></i>
                            </a>

                            <a href="{{ path('listeAnnuaires') }}" class="d-flex justify-content-center title-tooltip"
                               title="Contacts">
                                <i class="fa fa-address-card-o fa-2x"></i>
                            </a>

                            <a href="{{ path('listeInclusions') }}" class="d-flex justify-content-center title-tooltip"
                               title="Liste Inclusions">
                                <i class="fa fa-th-list fa-2x" aria-hidden="true"></i>
                            </a>

                            <a href="{{ path('analyseGraphique') }}" class="d-flex justify-content-center title-tooltip"
                               title="Graphiques">
                                <i class="fa fa-bar-chart fa-2x"></i>
                            </a>

                            <a href="{{ path('listeFactures') }}" class="d-flex justify-content-center title-tooltip"
                               title="Factures">
                                <i class="fa fa-eur fa-2x"></i>
                            </a>

                        {% endif %}

                        <a href="http://arceraa.forumactif.com/" target="_blank"
                           class="d-flex justify-content-center title-tooltip" title="Forum">

                            <i class="fa fa-comments-o fa-2x" aria-hidden="true"></i>

                        </a>

                        <a href="https://www.arcenregion.net/" target="_blank"
                           class="d-flex justify-content-center title-tooltip" title="Arcenregion">

                            <i class="fa fa-handshake-o fa-2x" aria-hidden="true"></i>

                        </a>

                        <a href="https://pacs.norimagerie.com/" target="_blank"
                           class="d-flex justify-content-center title-tooltip col-links_radiologie" title="Radiologie">

                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="362.025 178.817 798.28 1142.366"
                                 fill="#1471D4">
                                <path d="M582.24 1231.72v-89.462h357.849v178.925H864.39c-71.569 0-75.698-1.877-75.698-34.409 0-25.232-7.341-34.408-27.527-34.408s-27.526 9.176-27.526 34.408c0 32.532-4.13 34.409-75.699 34.409h-75.7v-89.463zm-121.119-9.633c-9.084-9.084-16.517-30.762-16.517-48.173 0-27.756 6.782-31.655 55.054-31.655 48.272 0 55.055 3.899 55.055 31.655 0 36.862-23.683 64.688-55.055 64.688-12.111 0-29.453-7.431-38.537-16.515zm536.775 0c-9.084-9.084-16.517-30.762-16.517-48.173 0-27.756 6.782-31.655 55.055-31.655 48.271 0 55.054 3.899 55.054 31.655 0 36.862-23.683 64.688-55.054 64.688-12.112 0-29.455-7.431-38.538-16.515zM362.025 853.226V619.248h798.28v467.957h-798.28V853.226zm674.409 0V660.538H485.896v385.377h550.538V853.226zM631.885 996.617c-21.648-56.413-10.275-74.573 46.699-74.573 30.279 0 55.054-6.194 55.054-13.764 0-7.57-24.774-13.764-55.054-13.764s-55.055-6.193-55.055-13.764c0-7.569 24.774-13.763 55.055-13.763 30.279 0 55.054-6.194 55.054-13.764 0-7.57-27.871-13.764-61.936-13.764s-61.936-6.193-61.936-13.764c0-7.569 27.871-13.763 61.936-13.763s61.936-6.194 61.936-13.764c0-7.57-24.774-13.764-55.054-13.764s-55.055-6.193-55.055-13.764c0-7.569 24.774-13.763 55.055-13.763 30.279 0 55.054-6.194 55.054-13.764 0-7.57-21.678-13.764-48.173-13.764-26.494 0-47.834-5.396-48.172-11.974-.61-11.88 73.24-19.383 96.797-20.902-.771-22.558 56.466-22.86 57.086-.762 13.747 1.698 92.4 3.773 92.625 22.966-.354 5.923-15.206 10.672-46.938 10.672-26.494 0-48.172 6.193-48.172 13.764s24.774 13.764 55.054 13.764 55.054 6.193 55.054 13.764c0 7.569-24.773 13.763-55.054 13.763-30.279 0-55.054 6.194-55.054 13.764 0 7.57 27.871 13.764 61.936 13.764s61.936 6.193 61.936 13.764c0 7.569-27.871 13.763-61.936 13.763s-61.936 6.194-61.936 13.764c0 7.57 24.774 13.764 55.054 13.764s55.054 6.193 55.054 13.764c0 7.569-24.773 13.763-55.054 13.763-30.279 0-55.054 6.194-55.054 13.764 0 7.57 24.774 13.764 55.054 13.764 45.096 0 55.054 4.775 55.054 26.401 0 75.823-37.333 90.616-80.997 32.093l-28.238-37.849-.436 37.849c-.329 28.529-7.215 37.85-27.963 37.85-20.747 0-27.634-9.32-27.963-37.85l-.436-37.849-28.238 37.849c-31.642 42.411-60.119 48.715-72.643 16.079zM496.436 536.263l44.948-40.887h425.798l44.949 40.887 44.947 40.887H451.487l44.949-40.887zm167.326-122.409c-88.658-88.657-27.996-235.037 97.402-235.037s186.061 146.38 97.403 235.037c-56.653 56.654-138.153 56.654-194.805 0z"/>
                            </svg>

                            {# <img class="img-fluid" src="{{ asset('/dist/img/icones/radiologie.svg') }}" alt="radiologie"> #}

                        </a>

                        <a href="https://www.vidal.fr/" target="_blank"
                           class="d-flex justify-content-center title-tooltip col-links_vidal" title="Vidal">

                            <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 497.795 497.795"
                                 fill="#1471d4">
                                <g>
                                    <path d="M183.375 334.312l4.479-22.838c8.666-44.302 31.342-104.618 90.135-140.424l22.65-13.776-139.197-85.148c-16.659-10.211-35.784-15.605-55.274-15.605-37.297 0-71.172 18.975-90.61 50.736C-14.963 157.17.809 222.611 50.713 253.15l132.662 81.162zM43.177 124.15c13.495-22.083 37.063-35.273 62.991-35.273 13.519 0 26.794 3.753 38.403 10.836l95.509 58.438c-45.963 36.638-68.086 86.614-78.7 124.749l-93.798-57.354C32.9 204.319 21.948 158.833 43.177 124.15z"/>
                                    <path d="M449.318 253.258l-124.435-76.133-2.305.982c-14.507 6.209-26.978 13.95-37.986 22.562l119.838 73.156c4.532 2.785 5.972 8.703 3.183 13.24-1.8 2.974-4.974 4.616-8.212 4.616-1.707 0-3.435-.444-5.021-1.41 0 0-122.915-75.895-123.697-77.528-43.949 42.908-56.228 101.4-59.578 129.392l-.375 3.089 132.692 81.139c15.945 9.767 34.224 14.912 52.846 14.912 35.67 0 68.046-18.146 86.637-48.522 29.201-47.722 14.121-110.302-33.587-139.495z"/>
                                </g>
                            </svg>

                            {# <img src="{{ asset('/dist/img/icones/pill.svg') }}" alt="Vidal"> #}

                        </a>

                    </div>

        {# MODAl D ACCEUIL ------------------------------------------------------------#}
                    {% if app.session.get("modalNewVisites") and app.user.rulesProtocole is defined and app.user.rulesProtocole != "np" %}

                        {{ app.session.set("modalNewVisites", true) }}

                        <div class="modal fade" id="messageAccueil" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                <div class="modal-content">
{# 2- visites Proches.................................................... #}                                    
                                    <div class="modal-header">
                                        <h5 class="modal-title">Visite(s) proches</h5>

                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">

                                        <ul>

                                            {% for index, visites in visiteForweek %}

                                                <li>

                                                    {% if visites == [] %}

                                                        <a data-date='{{ index }}' href="#" class='changeDay'>Aujourd'hui
                                                            <span class="badge badge-info">{{ visites|length }}</span></a>

                                                    {% else %}

                                                        <a data-date='{{ index }}' href="#" class='changeDay'>

                                                            {% if  visites[0] is defined and "now"|date("m/d/Y") == visites[0].date|date("m/d/Y") %}

                                                                Aujourd'hui

                                                            {% else %}

                                                                {{ visites[0].date|localizeddate('full', 'none')|capitalize }}

                                                            {% endif %}

                                                            <span class="badge badge-info">{{ visites|length }}</span>
                                                        </a>

                                                    {% endif %}

                                                </li>

                                            {% endfor %}

                                        </ul>

                                        <hr>

     {# 2- Tableau des visites proches.................................................... #} 

                                        {% for index, visites in visiteForweek %}

                                            <div style='display:none;' class='visite-popup {{ index }}'>

                                                {{ visites|length }} visite(s) pour
                                                {% if   visites[0] is defined and "now"|date("m/d/Y") == visites[0].date|date("m/d/Y") %}
                                                    aujourd'hui.
                                                {% elseif  visites is not empty %}
                                                    {{ visites[0].date|localizeddate('full', 'none') }}.
                                                {% else %}
                                                    aujourd'hui.
                                                {% endif %}

                                                {% if visites|length == 0 %}
                                                    <div class="alert alert-success">Pas de visite programmée
                                                        aujourd'hui.<br> Vérifier sur l'agenda.
                                                    </div>

                                                {% else %}

                                                    <table class="table table-sm table-striped mt-2 mb-0" style="font-size:0.8em;border:1px solid rgba(0,0,0,.15);"> {# TODO ODILON ET BENJAMIN #}
                                                        <thead>
                                                            <tr>
                                                                <th colspan="6">{{ visites|length }} visite(s)</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            {% for  visite in visites %}
                                                                {% set id_inclusion = null %}
                                                                <tr>
                                                                    {% if visite.fait %}
                                                                    <td class="patient-visite-statut title-tooltip">
                                                                <span class="popup-homepage--visites__circle arcoffice-vert"></span>
                                                                    </td>
                                                                    {% else %}
                                                                        <td class="patient-visite-statut title-tooltip">
                                                                            <span class="popup-homepage--visites__circle arcoffice-rouge"></span>
                                                                        </td>
                                                                    {% endif %}
                                                                    <td>
                                                                            {{ visite.statut }}
                                                                    </td>
                                                                    <td>{% if visite.inclusion.patient != null %}
                                                                                    <a href="{{ path("patient", {id: visite.inclusion.patient.id, id_inclusion: id_inclusion, id_visite: visite.id }) }}">
                                                                                                {{ visite.inclusion.patient.nom }} {{ visite.inclusion.patient.prenom }}
                                                                                    </a>
                                                                            {% endif %}</td>

                                                                    <td>   {% if visite.inclusion != null %}
                                                                                {% set id_inclusion = visite.inclusion.id %}
                                                                                    {% if visite.inclusion.essai %}
                                                                                        {% set archive = visite.inclusion.essai.statut == constant("AppBundle\\Entity\\Essais::ARCHIVE") %}
                                                                                        {# <a href="{{ path("editEssai", {id: visite.inclusion.essai.id }) }}">#}
                                                                                                {{ visite.inclusion.essai.nom }}
                                                                                                {# </a> #}
                                                                                            {% endif %}</td>

                                                                    <td>
                                                                            {{ visite.calendar }}</td>

                                                                    <td> 
                                                                            {% if visite.arc != null %}
                                                                            {{ visite.arc.nomPrenom }}
                                                                            {% endif %}

                                                                                        {% endif %}
                                                                                    </td>
                                                                </tr>
                                                            {% endfor %}


                                                        </tbody>
                                                    </table>
                                                      
                                                    {# </div> #}

                                                {% endif %}

                                         {% endfor %}

{# 2- Alertes EI..................................................... #}

                                        {% if eiAlertes|length > 0 %}

                                            <hr>
                                            <h5 class="modal-title">Alertes EI/EIGs: </h5>
                                            <hr>

                                            {{ eiAlertes|length }} alerte(s)

                                            <ul>

                                                {% for eiAlerte in eiAlertes %}

                                                    <li>
                                                        {% if eiAlerte.inclusion.patient != null %}
                                                            <a href="{{ path("patient", {id: eiAlerte.inclusion.patient.id, id_inclusion: eiAlerte.inclusion.id }) }}">
                                                                {{ eiAlerte.inclusion.patient.nom }} {{ eiAlerte.inclusion.patient.prenom }}
                                                            </a>
                                                            -
                                                            <a href="{{ path("editEi", {id: eiAlerte.id}) }}">
                                                                {{ eiAlerte.debutAt|date("d/m/Y") }} - EI
                                                            </a>
                                                        {% endif %}
                                                    </li>

                                                {% endfor %}

                                            </ul>

                                        {% endif %}
{# 3- Screen en cours..................................................... #}
                                        {% if inclusionsScreen|length > 0 %}

                                            <hr>
                                            <h5 class="modal-title">Screen en cours:</h5>
                                            <hr>
                                            {{ inclusionsScreen|length }} patient(s)
                                            <ul>
                                                <Li><a href="{{ path("listeInclusions", {"statut": "screen"}) }}">Voir
                                                        la liste</a></Li>
                                            </ul>
                                        {% endif %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                                        <h5 class="modal-title">Bonjour {{ app.user.username }}.
                                            <br>Vous êtes connecté.</h5>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endif %}

                </div>

            </div>

        </section>

    {% endblock content %}

	{% block javascripts %}

        {{ parent() }}

        <script>
            $(document).ready(function () {
                var today = '{{ 'now'|date("Y-m-d") }}';
                $(".visite-popup." + today).show();
                $(document).on('click', '.changeDay', function (event) {
                    event.preventDefault();
                    var date = $(this).data("date");
                    $(".visite-popup").hide();
                    $(".visite-popup." + date).show();
                });

            });
        </script>

    {% endblock %}