{% extends 'base.html.twig' %}

	{# Réécriture SEO #}
	{% block header %}

        {% embed "include/header.html.twig" %}

            {# Titre #}
            {% block seo_title %}

                Calendrier - ArcOffice

            {% endblock seo_title %}

            {# Description #}
            {% block seo_description %}

                Calendrier des visites

            {% endblock seo_description %}

            {% block css %}
                <link href='{{ asset('dist/fullcalendar/main.min.css') }}' rel='stylesheet'/>
            {% endblock css %}

        {% endembed %}

    {% endblock header %}

	{# Body Class #}
	{% block body_class %}arcoffice-calendrier{% endblock %}

	{# Section 'Fil d'ariane' #}
	{% block fil_ariane %}

        {% embed "include/fil-ariane.html.twig" with { page_name : 'Calendrier' } %}

            {% block fil_ariane_more %}


            {% endblock fil_ariane_more %}

        {% endembed %}

    {% endblock fil_ariane %}

	{% block content %}

        {# Section Principale #}
        <section class="section-main">

            <div class="container">

                <div id='calendar'></div>

            </div>

        </section>

    {% endblock content %}

    {% block javascripts %}

        {{ parent() }}
        <script src="{{ asset('dist/fullcalendar/main.min.js') }}" type="text/javascript"></script>

        <script>
            var weekVisites = [];
            document.addEventListener('DOMContentLoaded', function () {
                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    locale: 'fr',
                    firstDay: 1,
                    allDaySlot: false,
                    timeFormat: 'H',
                    slotMinTime: '08:00:00',
                    slotMaxTime: '20:00:00',
                    slotDuration: '00:15:00',
                    slotLabelInterval: '01:00:00',
                    slotLabelFormat: {
                        hour: 'numeric',
                        minute: '2-digit',
                        omitZeroMinute: false,
                        meridiem: 'long'
                    },
                    initialView: 'timeGridWeek',
                    //defaultView: 'timeGridWeek',
                    headerToolbar: {
                        left: 'prevYear,prev,next,nextYear today',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay'
                    },
                    buttonText: {
                        today: "Aujourd'hui",
                        month: 'Mois',
                        week: 'Semaine',
                        day: 'Jour',
                        list: 'list'
                    },
                    eventSources: [{
                        url: Routing.generate("agenda_events")
                    }],
                    eventSourceSuccess: function(content, xhr) {
                        $.each(content, function(idx, elt){
                            weekVisites.push(elt.visiteObj);
                        });
                    },
                    eventContent: function (arg) {
                        var event = arg.event;
                        var identitePatient = event.extendedProps["identitePatient"];
                        var etude = event.extendedProps["etude"];
                        var typeVisite = event.extendedProps["typeVisite"];
                        var heureEvt = moment(event.start).format("HH:mm");
                        if (moment(event.end).isValid()){
                            heureEvt += " - " + moment(event.end).format("HH:mm");
                        }

                        return {html: "<div style='font-size: 0.7em;'><span style='color: blue;'>" + heureEvt + "</span>"
                            + "<br />" + "<span style='color: blue;'>" + identitePatient + "</span>"
                            + "<br />" + "<span style='color: #000;'>" + etude + "</span>"
                            + "<br />" + "<span style='color: #000;'>" + typeVisite + "</span></div>" };
                    },

                    eventDidMount: function (info) {
                        var statutEvent = info.event.extendedProps["statutEvt"];
                        $(info.el).css("border", "solid #D3D3D3 3px");
                        if (statutEvent === '{{ constant('AppBundle\\Entity\\Visite::FAITE') }}') {
                            $(info.el).css("border-left", "solid #39c158 10px");
                        } else if (statutEvent === '{{ constant('AppBundle\\Entity\\Visite::NON_FAITE') }}'){
                            $(info.el).css("border-left", "solid #dc3545 10px");
                        } else if (statutEvent === '{{ constant('AppBundle\\Entity\\Visite::PREVUE_CONFIRMEE') }}'){
                            $(info.el).css("border-left", "solid #fd7e14 10px");
                        }
                    },
                    eventClick: function(info) {
                        var noInclusionSelected = info.event.extendedProps["noInclusion"];
                        var idPatient = info.event.extendedProps["idPatient"];
                        window.location.href = Routing.generate("patient", {"id" : idPatient, id_inclusion: noInclusionSelected});
                    }
                });
                calendar.render();
            });
        </script>
    {% endblock javascripts %}