{% extends 'base.html.twig' %}

	{# Réécriture SEO #}
	{% block header %}

        {% embed "include/header.html.twig" %}

            {# Titre #}
            {% block seo_title %}

                Calendrier - ArcOffice

            {% endblock seo_title %}

            {# Description #}
            {% block seo_description %}

                Calendrier des visites

            {% endblock seo_description %}

            {% block css %}
                <link href='{{ asset('dist/fullcalendar/main.min.css') }}' rel='stylesheet'/>
            {% endblock css %}

        {% endembed %}

    {% endblock header %}

	{# Body Class #}
	{% block body_class %}arcoffice-calendrier{% endblock %}

	{# Section 'Fil d'ariane' #}
	{% block fil_ariane %}

        {% embed "include/fil-ariane.html.twig" with { page_name : 'Calendrier' } %}

            {% block fil_ariane_more %}


            {% endblock fil_ariane_more %}

        {% endembed %}

    {% endblock fil_ariane %}

	{% block content %}

        {# Section Principale #}
        <section class="section-main">

            <div class="container">
                <div id='calendar'></div>
            </div>

        </section>

    {% endblock content %}

    {% block javascripts %}

        {{ parent() }}
        <script src="{{ asset('dist/fullcalendar/main.min.js') }}" type="text/javascript"></script>

        <script>
            let weekVisites = [];
            let calendar;
            var popTemplate = [
                '<div class="popover" style="max-width:600px;" >',
                '<div class="arrow"></div>',
                '<div class="popover-header">',
                '<button id="closepopover" type="button" class="close" aria-hidden="true">&times;</button>',
                '<h3 class="popover-title"></h3>',
                '</div>',
                '<div class="popover-content"></div>',
                '</div>'].join('');
            document.addEventListener('DOMContentLoaded', function () {
                const calendarEl = document.getElementById('calendar');
                calendar = new FullCalendar.Calendar(calendarEl, {
                    locale: 'fr',
                    firstDay: 1,
                    slotMinTime: '00:00:00',
                    slotMaxTime: '24:00:00',
                    slotDuration: '00:15:00',
                    slotLabelInterval: '01:00:00',
                    slotLabelFormat: {
                        hour: 'numeric',
                        minute: '2-digit',
                        omitZeroMinute: false,
                        meridiem: 'long'
                    },
                    initialView: 'timeGridWeek',
                    //defaultView: 'timeGridWeek',
                   
                    headerToolbar: {
                        left: 'prevYear,prev,next,nextYear today',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay,listDay,listWeek,listMonth'
                    },
                    buttonText: {
                        today: "Aujourd'hui",
                        month: 'Mois',
                        week: 'Semaine',
                        day: 'Jour',
                        listDay: "Liste Jour",
                        listWeek: "Liste Semaine",
                        listMonth: "Liste Mois",
                    },
                    dateClick: function(info) {
                        date = moment(info.dateStr, "YYYY-MM-DD");
                        calendar.changeView("timeGridDay");
                        calendar.gotoDate(info.dateStr);
                    },
                    eventSources: [{
                        url: Routing.generate("agenda_events")
                    }],
                    eventSourceSuccess: function(content) {
                        $.each(content, function(idx, elt){
                            weekVisites.push(elt.visiteObj);
                        });
                    },
                    eventContent: function (arg) {
                        let event = arg.event;
                        let identitePatient = event.extendedProps["identitePatient"];
                        let etude = event.extendedProps["etude"];
                        let format = "HH:mm";
                        let formatDate = "";
                        if(event.allDay) {
                            format = "DD/MM HH:mm";
                            formatDate += moment(event.extendedProps["dateStart"]).format(format);
                            if (event.extendedProps["dateEnd"] && moment(event.extendedProps["dateEnd"]).isValid()){
                                formatDate += " - " + moment(event.extendedProps["dateEnd"]).format(format);
                            }
                        } else {
                            formatDate += moment(event.start).format(format);
                            if (event.end && moment(event.end).isValid()){
                                formatDate += " - " + moment(event.end).format(format);
                            }
                        }
                        let html = "<div style='font-size: 0.7em; padding: 2px;'><span style='color: red;'>" + formatDate + "</span>"//Modifs HERVE cellule calendar
                            + "<br />" + "<span style='color: blue;'>" + identitePatient + "</span>"
                            + "<br />" + "<span style='color: green;'>" + etude + "</span>";

                        return {html: html};
                    },
                    eventMouseEnter: function(info)//Modifs HERVE POPOV calendar
                    {
                        let event = info.event;
                        let identitePatient = event.extendedProps["identitePatient"];
                        let etude = event.extendedProps["etude"];
                        let noteVisite = event.extendedProps["note"];
                        let typeVisite = event.extendedProps["typeVisite"];
                        let statutEvt = event.extendedProps["statutEvt"];
                        let fucks = [
                            "https://img-4.linternaute.com/d577ne-3ItveNbxoqB6bclooPAI=/1240x/smart/877c614011b24e3192a71e50f43239f6/ccmcms-linternaute/30118501.jpg",
                            "http://image.over-blog.com/Ti1QS3NZzDWoKwjOBLpUQO1LH9c=/filters:no_upscale()/image%2F0557250%2F20210320%2Fob_253135_7777966183329238107.jpg",
                            "https://i.ytimg.com/vi/LakuKuJ7dhc/hqdefault.jpg",
                            "https://www.yatahonga.com/travail/dnjnq/ ", 
                            "https://www.yatahonga.com/insolite/tsjnq/",


                            "https://www.infirmerie-protestante.com/sites/default/files/equipe-recherche-clinique_0.jpg"
                        ]
                        let html = "<p class='h6'>" + identitePatient + "</p><hr>";
                        if(etude)
                            html +=  "<b>Étude</b> : " + etude+"<br>";
                        if(typeVisite)
                            html += "<b>Type</b> : " + typeVisite+"<br><hr>";
                        if(noteVisite)
                            html += "<b>Notes</b> :<br> " + "<p class='text-success'>" + noteVisite + "</p><hr>";
                        if(statutEvt)
                            html += "<b>Status</b> : " + statutEvt+"<br>";
                            html += "<img width='100' src='" + fucks[Math.floor(Math.random() * fucks.length)]+"'>";
                        $(info.el).popover({
                            trigger: "hover",
                            content: html,
                            html: true,
                            placement: 'top',// Positionement du popover / cellule
                            container: 'body'
                        });
                        $(info.el).parent().css('z-index', 3000);
                        $(info.el).mouseover();
                    },
                    eventMouseLeave: function(info) {
                        $(info.el).parent().css('z-index', 1);
                    },
                    eventDidMount: function (info) {
                        let statutEvent = info.event.extendedProps["statutEvt"];
                        let fait = info.event.extendedProps["fait"];
                        $(info.el).css("border", "solid #D3D3D3 3px");
                        if (statutEvent === '{{ constant('AppBundle\\Entity\\Visite::FAITE') }}') {
                            $(info.el).css("border-left", "solid darkgreen 4px");//statut et Epaisseur de la barre de gauche :FAITE=verte 
                        } else if (statutEvent === '{{ constant('AppBundle\\Entity\\Visite::NON_FAITE') }}'){
                            $(info.el).css("border-left", "solid red 4px");//NON FAITE= rouge
                        } else if (statutEvent === '{{ constant('AppBundle\\Entity\\Visite::PREVUE_CONFIRMEE') }}'){
                            $(info.el).css("border-left", "solid green 4px");
                        } else if (statutEvent === '{{ constant('AppBundle\\Entity\\Visite::PREVUE_THEORIQUE') }}'){
                            $(info.el).css("border-left", "solid orange 4px");
                        }

                        var dotEl = info.el.getElementsByClassName('fc-list-event-dot')[0];
                        if (dotEl) {
                            dotEl.style.borderColor = (fait)?'green':"red";
                        }
                        // rend la date clicable pour aller de jour en jour
                        $.each($("a.fc-daygrid-day-number"), function(idx,elt){
                            $(elt).hover(function() {
                                $(elt).attr("style", "text-decoration : underline;cursor: pointer;");
                                $(elt).attr("title", $(elt).attr("aria-label"));
                            });
                            $(elt).mouseout(function() {
                                $(elt).attr("style", "text-decoration : none;cursor: none;");
                                $(elt).attr("title", "");
                            });
                        });

                        // pour les entetes de tableau
                        $.each($("th.fc-col-header-cell"), function(idx,elt){
                            $(elt).attr("style", "text-decoration:underline;color:brown; cursor: pointer;");//Pourquoi underline?
                            $(elt).attr("title", $(elt).attr("aria-label"));
                        });

                    },
                    eventClick: function(info) {
                        let noInclusionSelected = info.event.extendedProps["noInclusion"];
                        let idPatient = info.event.extendedProps["idPatient"];
                        window.open(Routing.generate("patient", {"id" : idPatient, id_inclusion: noInclusionSelected, "id_visite": info.event.extendedProps["noVisite"]}), 'visite');
                    },

                    editable: true,
                    eventDrop: function(info) {
                        SaveVisite(info);
                    },
                    eventResize: function(info) {
                        SaveVisite(info);
                    }
                });
                calendar.render();
            });

            function SaveVisite(info) {
                let idVisite = info.event.extendedProps["noVisite"];
                let start = moment(info.event.start).format("YYYY-MM-DD HH:mm:00");
                let end = "";
                if (moment(info.event.end).isValid()){
                    end = moment(info.event.end).format("YYYY-MM-DD HH:mm:00");
                }

                if (confirm("Etes-vous sûr de vouloir déplacer cette visite ?")) {
                    let urlSave = Routing.generate("agenda_save_visit");
                    $.post(urlSave, {"start" : start, "end" : end, "idVisite" : idVisite}, function(response){

                    });
                } else {
                    info.revert();
                }
            }
        </script>
    {% endblock javascripts %}