
{# Bouton 'Supprimer' #}

<a href="#" title='{{ title }}' class="delete-liste-item btn btn-sm btn-outline-danger title-tooltip"
   data-message="{{ message }}" data-route-liste="{{ route_liste }}"
   data-route-liste-param="{{ route_liste_param|default('')|json_encode() }}" data-route-delete="{{ route_delete }}"
   data-id="{{ id }}">

    <i class="fa fa-trash" aria-hidden="true"></i>

</a>



















































